@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,800;1,100;1,300;1,500;1,700;1,800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins';
}

:root {
  --primary: #040b14;
  --white: #ffffff;
  --border-img: #2d2f3f;
  --gray-text: #a8a9b4;
  --light-blue: #149ddd;
  --blue-background: #dff2fc;
  --text-color: #173b6c;
}

p {
  font-weight: 300;
}
